<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.condominioplus">

    <application
        android:name=".dao.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />

        <activity android:name=".activities.ApartamentosActivity"
            android:label="@string/apartamentos" />

        <activity android:name=".activities.CadastroProprietarioActivity"
            android:label="@string/cadastrar_proprietario"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity android:name=".activities.CadastroApartamentoActivity"
            android:label="@string/cadastrar_apartamento" />

        <activity android:name=".activities.DetalhesApartamentoActivity"
            android:label="@string/detalhes" />

        <activity android:name=".activities.CadastroTipoDespesaActivity"
            android:label="Cadastro de Tipos de Despesa"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity android:name=".activities.TiposDeDespesasActivity"
            android:label="Tipos de Despesa"></activity>
    </application>

</manifest>